/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Global CSS */

body {
    background-image: linear-gradient(90deg, #68042a, #b3044d);
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #333;
    gap: 50px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #bd0065;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.02);
    background-color: #97235b;
}

button:active {
    transform: scale(0.98);
    background-color: #821b4b;
}

#content {
    max-width: 800px;
    line-height: 1.6;
    padding: 20px;
}

h2 {
    color: #d35400; /* Burnt orange */
    border-bottom: 2px solid #eee;
    margin-top: 40px;
}

h3 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

h4 {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

.home-description {
    font-size: 28px;
    padding-bottom: 1rem;
    color: rgb(255, 165, 202);
}

.home-sub-description {
    font-size: 18px;
    padding-bottom: 1rem;
}

.show-hours {
    margin: 0 0 20px 0;
}

